/* .App {
  text-align: center;
} */

.app-name{
  text-align: center;
  font-family: Arial, sans serif; 

}

.current-user-navbar{
  text-align: right;
}

.column {
  float: left;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

.left {
width: 25%;
}

.right {
width: 75%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}